*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body, input {
  line-height: 1.5;
  font-family: Inter,BlinkMacSystemFont,Hiragino Kaku Gothic ProN,Hiragino Sans,Meiryo,sans-serif;
  color: var(--color-text);
}

a {
  color: var(--color-text);
}
